{% extends 'base.html.twig' %}

{% block title %}New BisList{% endblock %}

{% block body %}
    <h1>Create new BisList</h1>

    {{ include('bis_list/_form.html.twig') }}

    <a href="{{ path('app_bis_list_index') }}">back to list</a>
{% endblock %}
